body {
  font-family: Arial;
  width: 280px;
  padding: 10px;
  transition: 0.3s;
}

.dark {
  background: #222;
  color: white;
}

#wordInput {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

#result p {
  margin: 6px 0;
}

/* Toggle Dark Mode */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  float: right;
}

.switch input { display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 20px;
  top: 0; left: 0; right: 0; bottom: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.mode-label {
  padding-top: 3px;
  font-size: 12px;
}
